Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

 1. R
 2. Python
 3. Julia

**Objectives**

List popular languages for Data Science

- Python
- R
- Julia

Some of the commonly used librries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib
4. ggplot2

Data Science Tools

1. Jupyter Notebook
2. Jupyter Lab
3. RStudio
4. Spyder

Below are a few examples of evaluating arithmetic expressions in Python

In [37]:
# This a simple arithmetic expression to mutiply then add integers.
print((3*4)+5)

17

In [38]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print("200 minnutes is  equal to", hours,"hours")

200 minnutes is  equal to 3.3333333333333335 hours

In [39]:
#  Create a code cell to convert minutes to hours
def minutes_to_hours(minutes):
    hours = minutes / 60
    return hours
total_minutes = 200
hours_converted = minutes_to_hours(total_minutes)
print(f"{total_minutes} minutes is equal to {hours_converted} hours.")

200 minutes is equal to 3.3333333333333335 hours.

Auther

Manoj Manjunatha Samanthri